.banner {
    display: flex;
    justify-content: center;
  }
  
    .banner .container {
      display: flex;
      flex-direction: column;
      padding: 60px;
      background-color: rgb(79, 132, 247);
      background-image: url("https://fiverr-res.cloudinary.com/q_auto,f_auto,w_1112,dpr_1.0/v1/attachments/generic_asset/asset/b49b1963f5f9008f5ff88bd449ec18f7-1608035772453/logo-maker-banner-wide-desktop-1352-2x.png");
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 25px;
    }
    
    .banner .container .left {
      display: flex;
      flex-direction: column;
      align-items: start;
    }
    
    .banner .container .left span {
      font-size: 30px;
      font-weight: bold;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-style: italic;
      color: white;
    }

    .banner .container .left h1 b{
      color: #1dbf73;
      font-weight: bold;
    }

    .banner .container .left h1 {
      font-size: 30px;
      font-weight: bold;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-style: italic;
      color: white;
    }
    .banner .container .left p{
      font-size: 50px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-weight: bold;
      width: 1100px;
      font-style: italic;
    }
    .banner .container .left p span{
      font-size: 50px;
      font-family: 'Times New Roman', Times, serif;
      width: 1200px;
    }
    .banner .container .left p b{
      color: #1dbf73;
      text-shadow: 1px 2px white ;
    }


    .btn1 button{
      margin-top: 30px;
      background-color: white;
      border: none;
      color: black;
      border-radius: 10px;
      padding: 10px 20px;
      width: max-content;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
    }
    .btn1 button:hover{
      background-color: #1dbf73;
      color: white;
    }